html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}


.homePage-Div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start
}

.store-page {
  display: flex;
  flex-direction: row;
  height: 92.3vh;
}

/* .list-form {
  flex-direction: column;
} */

.card {
  margin: 5px;
}

.progress {
  width: 200px;
  margin: 5px;
}

.incoming {
  flex-direction: column;
  /* margin: 5px; */
}

.dashboard {
  width: 80%;
  margin: 10px;
  border: 1px
}

.add-line {
  width: 1px; /* Line width */
  margin-right: 10px;
  background: rgb(131, 131, 131);
  height: 100%; /* Override in-line if you want specific height. */
  color: transparent;
  float: left;
}

.order-column {
  padding: 10px;
  margin: 10px;
}

.progress {
  height: 20px;
  width: 40%;
}

.progress-bar {
  background: #85bb65;
}

