html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}


.homePage-Div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start
}

.store-page {
  display: flex;
  flex-direction: row;
  height: 92.3vh;
}

/* .list-form {
  flex-direction: column;
} */

.card {
  margin: 5px;
}

.progress {
  margin: 10px 0px;
  height: 40px;
  width: 100%;
}

.incoming {
  flex-direction: column;
}

.dashboard {
  width: 70%;
  margin: 10px;
  border: 1px
}

.add-line {
  width: 1px; /* Line width */
  margin-right: 10px;
  background: rgb(131, 131, 131);
  height: 100%; /* Override in-line if you want specific height. */
  color: transparent;
  float: left;
}

.order-column {
  padding: 10px;
  margin: 10px;
}

/* .progress-bar {
  background: #85bb65;
} */

.bg-success {
  background-color: #67925e !important;
}

.new-orders {
  margin-top: 10px;
    flex-direction: column;
    width: 30%;
}