html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
}


.homePage-Div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start
}

.store-profile {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* .list-form {
  flex-direction: column;
} */

.card {
  margin: 5px;
}

.incoming {
  flex-direction: column;
  width: 30%;
  /* margin: 5px; */
}

.edit-form {
  width: 70%;
  margin: 10px;
  border: 1px
}

.add-line {
  width: 1px; /* Line width */
  margin-right: 10px;
  background: rgb(131, 131, 131);
  height: 100hv; /* Override in-line if you want specific height. */
  color: transparent;
  float: left;
  bottom: 0px
}

/* margin: 0 auto;
  border: 1px solid red;
  width:800px;
  position:absolute;
  bottom:0px;
  top:0px;
  overflow:auto */

.order-column {
  padding: 10px;
  margin: 10px;
}

/* .progress-bar {
  background: #536b4e;
} */

.time-inline {
  display: inline-block;
}

.line {
  height: 1px;
  border: 0;
  border-top: .7px solid rgb(77, 77, 77);
  margin: 6px 11px;
  padding: 0;
  display: inline-block;
  width: 20px
}

.form-vend {
    display: block;
    width: 49%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 5px
}

.form-vend:focus {
  display: block;
  width: 49%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-color: green;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none !important;
  border:1px solid #536b4e;
  box-shadow: 0 0 10px #719ECE;
}

.form-time {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 5px
}

.form-time:focus {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-color: green;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none !important;
  border:1px solid #536b4e;
  box-shadow: 0 0 10px #719ECE;
}

.form-amount {
  display: block;
  width: 26.2%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 5px
}

.form-amount:focus {
  display: block;
  width: 26.2%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  border-color: green;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none !important;
  border:1px solid #536b4e;
  box-shadow: 0 0 10px #719ECE;
}

.add-form {
  margin-left: 15px;
  margin-top: 10px;
}