.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    padding-top: 5em;
}

.form--login > fieldset > button[type="submit"] {
    margin: 1em 0em;
}

input[name="remember"] {
    margin: 1em 0.5em 0 0;
}

