.add-payment {
  /* display: flex; */
}

.add-form {
  flex-direction: column;
}

.payment-extra {
  display: inline;
}

.payment-important {
  display: inline;
}

.payment-details {
  margin-left: 15px;
}

.delete {
  margin-left: 15px;
}